* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* WE NNED EDIT THIS CSS AND BANNER */
/* ---- Header ---- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1050px;
  margin: auto;
  padding: 21px 0 7px;
  background-color: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  transition: all 0.3 ease;
  -webkit-transition: all 0.3 ease;
  -moz-transition: all 0.3 ease;
  -ms-transition: all 0.3 ease;
  -o-transition: all 0.3 ease;
}
.logo {
  margin: 11px 28px;
  width: 160px;
}
.header-ul {
  display: flex;
  list-style: none;
}
.header-ul li {
  margin: 0 15px;
  font-size: 16px;
}
.header-ul li a {
  text-decoration: none;
  color: #303030;
}
.header-ul > li:last-child a {
  cursor: pointer;
  color: #01cbd9;
  background-color: rgba(232, 239, 254, 0.8);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 10px 27px;
  margin-left: 20px;
  font-weight: 600;
}
.header-ul > li:last-child a:hover {
  background-color: rgba(169, 196, 255, 0.8);
  color: #002f32;
}
.more-menu {
  display: flex;
  align-items: center;
}
.more-menu img {
  width: 8px;
  margin-left: 8px;
}
.hamburger-menu-icon {
  width: 27px;
  display: none;
}
.hamburger-menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  z-index: 100;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}
.cross-icon {
  width: 100%;
  padding: 25px 0;
  text-align: right;
}
.cross-icon img {
  width: 20px;
  margin-right: 20px;
}
.hamburger-menu-items {
  padding: 10px 30px;
}
.hamburger-menu-items ul {
  list-style: none;
}
.hamburger-menu-items a {
  display: inline-block;
  color: #303030;
  padding: 3px 0;
}
.hamburger-menu-items div {
  height: 1px;
  background-color: #dfe1e4;
  width: 90%;
  margin: 8px 0;
}
.more-item {
  display: flex;
  background-color: #eee;
  padding: 20px 50px;
  align-items: center;
}
.more-item img {
  width: 15px;
  margin-left: 6px;
}
.more-item a {
  color: #01cbd9;
  font-size: 0.85rem;
}

/* ---- ID STYLE ---- */

#lottie {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  top: -40px; /* Adjust as needed */
}
#show-more-menu {
  position: relative;
}
#show-more-menu ul {
  display: none;
  position: absolute;
  top: 15px;
  left: -35px;
  background-color: #fff;
  border-top: 5px solid #01cbd9;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: 23px;
  list-style: none;
  width: 123px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
#show-more-menu li {
  margin: 0;
  padding: 10px 20px;
  color: black;
  font-size: 0.8 rem;
}
#show-more-menu li:hover {
  background-color: rgba(232, 239, 254, 0.8);
  color: #002f32;
}

#show-product-menu {
  position: relative;
}

.product-menu {
  position: absolute;
  top: 14px;
  left: -135px;
  display: none;
  justify-content: center;
  width: 400px;
  background-color: #fff;
  border-top: 5px solid #01cbd9;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-top: 23px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.product-menu a {
  margin: 10px 0;
  padding: 20px;
}
.product-menu a p:first-child {
  color: black;
  font-size: 1rem;
}
.product-menu a p:last-child {
  color: #303030;
  font-size: 0.7rem;
  margin-top: 6px;
}

/* ---- Main website styles ---- */

.banner {
  width: 1050px;
  padding: 124px 60px 80px;
  background-image: linear-gradient(#f0f8ff, #c2ecff);
  border-radius: 20px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}
.banner-text h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #002f32;
}
.banner-text h3 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #303030;
  margin-top: 10px;
}
.banner-text p {
  font-size: 1rem;
  font-weight: 400;
  color: #303030;
  margin-top: 20px;
  line-height: 1.4rem;
}
.banner-image img {
  width: 500px;
  height: auto;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.banner-button {
  margin-top: 60px;
}
.login {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: #01cbd9;
  padding: 10px 20px;
  border: none;
  margin-right: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.login:hover {
  background-color: #fff;
  color: #01cbd9;
}
.sign-up {
  font-size: 1rem;
  font-weight: 600;
  color: #01cbd9;
  background-color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.sign-up:hover {
  background-color: #01cbd9;
  color: #fff;
  border: none;
}
.go-down {
  width: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 58px;
}
.go-down div {
  background-image: url(../img/arrowbottom.svg);
  width: 164px;
  height: 78px;
}
.go-down img {
  width: 15px;
  position: relative;
  top: -60px;
}

/* ---- Responsive Design ---- */
@media (max-width: 1200px) {
  header {
    width: 940px;
  }
}

@media (max-width: 990px) {
  header {
    width: auto;
    padding: 20px 60px;
  }

  .header-ul li:last-child {
    display: none;
  }

  .logo {
    margin: 0;
  }

  .header-ul li {
    margin: 0 10px;
  }
}

@media (max-width: 768px) {
  .header-ul {
    display: none;
  }
  .hamburger-icon {
    display: block;
  }
  header {
    width: auto;
    padding: 10px 8px;
  }
}

/* ---- Animation ---- */
.show-hamburger-menu {
  animation: fadeInDown 0.25s forwards;
  -webkit-animation: fadeInDown 0.25s forwards;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@keyframes showUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* fix bug */
